
/* bg cl
    - main ##FFFFFF
    - second #2F303A #E5E5E5 #F5F4FA */

/* txt cl 
    - main  #757575
    - second add #212121 #FFFFFF rgba(255, 255, 255, 0.6) #000000
    - accent  #2196F3 */

:root {
    /* fonts */
    --main-font: "Roboto";
    --second-font: "Raleway"; 

    /* txt cl */
    --main-cl: #757575;
    --second-cl: #212121;
    --add_white_cl: #FFFFFF;
    --add_black_cl: #000000;
    --add_rgba_cl: rgba(255, 255, 255, 0.6);
    --accent-cl: #2196F3;

    /* bg-cl */
    --main-bg-cl: #FFFFFF;
    --second-bg-cl: #2F303A;
    --add-bg-cl: #E5E5E5;
    --rare-bg-cl: #F5F4FA;
    --accent-bg-cl: #2196F3;
    --border-card-cl: #EEEEEE;
    --border-header-cl: #ECECEC;
    
    /* others */
    --items: 3;
    --indent: 40px;
}

/* body */
.body {
    background: var(-main-bg-cl);
    color: var(--main-cl);
    font-family: var(--main-font), sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
}

/* common styles start */

.list {
    text-decoration: none;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

/* grid flexbox */
.card-set {
    display: flex;
    flex-wrap: wrap;
    margin: calc(-1 * var(--indent) / 2);
}

.card-set-item {
    flex-basis: calc((100% - (var(--indent)) * var(--items)) / var(--items));
    margin: calc(var(--indent) / 2);
}


/* HEADER */
.header-nav .header-link.current {
color: var(--accent-cl);
}

.header-logo {
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-cl);
    text-decoration: none;
    list-style: none;
    margin-right: 93px;
}

.header-span { 
    color: var(--add_black_cl);
}
        
.footer-span {
    color: var(--add_white_cl);
}

.header-link {
color: var(--second-cl);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    list-style: none;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header-link:hover,
.header-link:focus {
    color: var(--accent-cl); 
}

.header-contacts a {
    color: var(--main-cl); 
    font-weight: 500;
    line-height: 1.14px;
    letter-spacing: 0.02em;
    text-decoration: none;
    list-style: none;
}

.header-contacts a:hover,
.header-contacts a:focus {
color: var(--accent-cl);
}

.list {
    display: flex;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-list-item:not(:last-child) {
    margin-right: 50px;
}

.header-contacts-item {
    padding-top: 32px;
    padding-bottom: 32px;
}

.header-contacts {
    margin-left: auto;
}

.header-contacts-tel {
    margin-left: 50px;
}

.header {
    border-bottom: 1px solid var(--border-header-cl);
}

/* HERO*/
.hero { 
    background: var(--second-bg-cl);

    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    /* background-image: url(../images/hero/img-hero.jpg); */
}

.hero-title {
    color: var(--add_white_cl);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    margin-top: 0;
    margin-bottom: 30px;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.hero-btn {
    background: var(--accent-bg-cl);
    color: var(--add_white_cl);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;

    padding: 10px 32px;
    display: inline-block;
    border-radius: 4px;
    min-width: 200px;
    text-align: center;
    border: none;
}

.hero-btn:hover,
.hero-btn:focus {
    background: var(--rare-bg-cl);
    color: var(--second-cl);
}

/* FEATURES */
/* h2 hidden */
.features-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--second-cl);

    margin-bottom: 10px;
}   

.features-txt {
    color: var(--main-cl);
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.features-container {
    display: flex;
}

.features-list-item:not(:last-child) {
    margin-right: 30px;
}

.features-list-item {
    flex-basis: 270px;
}

/* SERVICE */

.service-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: var(--second-cl);
    margin-top: 0;
    margin-bottom: 50px;

    display: flex;
    justify-content: center;
}

.service {
    padding-top: 0;
}

.cervice-list-container {
    display: flex;
}

.cervice-list-items:not(:last-child) {
    margin-right: 30px;
}

/* TEAM */

.team {
    background: var(--rare-bg-cl) ;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: var(--second-cl);
    margin-top: 0;
    margin-bottom: 0;

    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.team-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--second-cl);

    display: flex;
    margin-bottom: 10px;
    justify-content: center;
}

.team-txt {
    font-size: 16px;
    line-height: 1.19;
    color: var(--main-cl);
    margin-top: 0;
    margin-bottom: 0;

    display: flex;
    margin-bottom: 30px;
    justify-content: center;
}

/* team flexbox*/
.team-list {
    --items: 4;
    --indent: 30px;
}

.team-img {
    margin-bottom: 30px;
}

.team-list-item {
    background: var(--main-bg-cl);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

/* FOOTER*/
.footer-logo {
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-cl);
    text-decoration: none;
    list-style: none;

    display: inline-block;
    margin-bottom: 20px;
}

.address-items {
    text-decoration: none;
    list-style: none;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 0;
}

.address .address-link {
    color: var(--add_white_cl);
}

.address .address-email, 
.address .address-tel {
    color: var(--add_rgba_cl);
    }

    .footer {  
    background: var(--second-bg-cl);

    padding-top: 60px;
    padding-bottom: 60px;
}

/* footer flexbox*/

.address-list {
    display: inline-block;
}

.address-list-items:not(:last-child) {
    margin-bottom: 9px;
}

.address-list-items {
    list-style: none;
}

/* PORTFOLIO */

.filters-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-cl);
    background: var(--rare-bg-cl);
    border-radius: 4px;
    cursor: pointer;
    padding: 6px 22px;
    display: inline-block;
    border: none;
}

.filters-btn:hover,
.filters-btn:focus {
    background: var(--accent-bg-cl);
    color: var(--add_white_cl);
}

.portfolio-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.portfolio-subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    color: var(--second-cl);
    font-style: normal;
    margin-bottom: 4px;
}

.portfolio-txt {
    font-size: 16px;
    line-height: 1.88;
    color:var(--main-cl);
    margin-top: 0;
    margin-bottom: 0;
}

.portfolio-filters {
    justify-content: center;
    margin-bottom: 50px;
}

.portfolio-filters-item:not(:last-child) {
    margin-right: 8px;
}

.portfolio-list {
    --items: 3;
    --indent: 30px;
}

.portfolio-service {
    padding: 20px 24px;
    border-left: 1px solid var(--border-card-cl);
    border-right: 1px solid var(--border-card-cl);
    border-bottom: 1px solid var(--border-card-cl);
}

.portfolio-link {
    text-decoration: none;
}

/* FLEXBOX */
/* OUTLINE AND BG */
/* outline for all section 
.hero,
.features,
.service,
.team,
.footer,
.portfolio {
    outline: 2px solid tomato;
}*/

/* outline for all containers 
.container {
outline: 2px solid rgb(19, 201, 31);
}*/

/* pictures */
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Reset some styles */
h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

/* CONTAINER */
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* SECTIONS */
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
